# Eclipse
.metadata/
Servers/
RemoteSystemsTempFiles/

# compilados
bin/
build/
target/

*.class
*.log

# Eclipse project files
.settings/
.classpath
.project

# sistema
.DS_Store
Thumbs.db

# temporales
tmp/
work/

# frontend
node_modules/