<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eWok</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExemplePublicEsborrar</display-name>
    <servlet-name>ExemplePublicEsborrar</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.ExemplePublicEsborrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemplePublicEsborrar</servlet-name>
    <url-pattern>/exemple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffController</display-name>
    <servlet-name>StaffController</servlet-name>
    <servlet-class>com.soc.ewok.controller.staffcontroller.StaffController</servlet-class>
    <init-param>
      <param-name>autentificador</param-name>
      <param-value>com.soc.utils.AutentificadorBD</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffController</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.soc.ewok.controller.utils.DataSourceManager</listener-class>
  </listener>
  <filter>
    <display-name>FiltreIdioma</display-name>
    <filter-name>FiltreIdioma</filter-name>
    <filter-class>com.soc.ewok.controller.utils.FiltreIdioma</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreIdioma</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.soc.ewok.restws</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar Productes de la Categoria</display-name>
    <servlet-name>PMostraProductesCategoria</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.PMostraProductesCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMostraProductesCategoria</servlet-name>
    <url-pattern>/mostraProdCateg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FotoServlet</display-name>
    <servlet-name>FotoServlet</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.FotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotoServlet</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.soc.ewok.controller.utils.ComandaListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMenuServlet</display-name>
    <servlet-name>ViewMenuServlet</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.ViewMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMenuServlet</servlet-name>
    <url-pattern>/ViewMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Home</description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.soc.ewok.controller.publiccontroller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>